@using Proyecto_2_BD.Models;
@model Proyecto_2_BD.Models.Modelo.Distribucion

@{
    ViewBag.Title = "Bloques";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        input[type=text], input[type=number] {
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .container2 {
            width: 350px;
            margin-right: auto;
            margin-left: auto;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        .c3 {
            text-align: center;
        }
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        .page-section {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .bg-dark {
            background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.8) 100%), url('../../Content/assets/img/db.jpg');
        }
    </style>
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <br>
            <div class="imgcontainer">
                <i class="fas fa-4x fa-th text-primary mb-4"></i>
            </div>
            <h2 class="text-center mt-0">@ViewBag.nombre</h2>
            <hr class="divider my-3" />
        </div>
    </section>
    <br>
    <form action="/Add/Bloques" method="post">

        <div class="form-horizontal">
            <div class="container2 text-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h2 class="text-center mt-0">Distribución de Asientos</h2>
                <button type="button" class="add_field_button btn btn-primary btn-xl js-scroll-trigger">Más</button>
                <div class="input_fields_wrap">
                    <h3 class="h4 mb-2 c3">Nombre</h3>
                    <input type="text" name="Dist[0].name" class="field-long" required/>
                    <h3 class="h4 mb-2 c3">Cantidad de Filas</h3>
                    <input type="number" name="Dist[0].filas" class="field-long" required/>
                    <h3 class="h4 mb-2 c3">Cantidad de Asientos</h3>
                    <input type="number" name="Dist[0].sillas" class="field-long" required/>
                </div>

                <div class="form-group">
                    <div class="container2 text-center">
                        <br>
                        <input type="submit" value="Agregar" class="btn btn-primary btn-xl js-scroll-trigger" />
                    </div>
                </div>

            </div>
        </div>

    </form>


}


<script type="text/javascript">
$(document).ready(function() {
	var max_fields      = 10; //maximum input boxes allowed
	var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
	var add_button      = $(".add_field_button"); //Add button ID
	
	var x = 1; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
			x++; //text box increment
			$(wrapper).append('<div><hr class="divider my-3" /><h3 class="h4 mb-2 c3">Nombre</h3><input type="text" name="Dist['+x+'].name" class="field-long" required/><h3 class="h4 mb-2 c3">Cantidad de Filas</h3><input type="number" name="Dist['+x+'].filas" class="field-long" required/><br><h3 class="h4 mb-2 c3">Cantidad de Asientos</h3><input type="number" name="Dist[0].sillas" class="field-long" required/><a href="javascript:void(0);" class="remove_button btn btn-primary btn-xl js-scroll-trigger">Menos</a></div>'); //add input box
		}
	});
	
	$(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
});
</script>